/*
Universal
*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a {
	color: inherit;
}

a:visited {
	color: inherit;
}
/* 
Header
*/

.welcome {
  background-color: #A6AD5D;
  height: 30%;
  max-height: 900px;
  max-width: 100%;
  margin: 0;
  padding: 0 0 15px 0;
}
.welcome h1 {
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 50px;
  font-size: 100px;
}

.welcome h6 {
  color: #fff;
  margin: 0;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
  font-size: 40px;
}

.wrap {
 max-width: 100%;
 margin-left: 15%;
 margin-right: 15%;
}


#menu {
  list-style: none;
  width: 100%;
  /*padding: 0 15% 0 15%;
*/}
#menu li {
  display: inline-block;
  padding: 15px 2px;
  background-color: #fff;
}

#menu li a {
	padding: 15px;
}
/*

Text

*/


.content {
	list-style: none;
}

#response {
	display: block;
  width: 50%;
  height: 200px;
  margin: 0 25% 0 25%;
}

.check {
  width: 50%;
  height: 30px;
  display: block;
  margin: 0.5em 25% 0 25%;
}

/*

Buttons

*/

#startAgain {
  display: none;
  width: 50%;
  height: 30px;
  margin: 0.5em 25% 0 25%;	
}
#continue {
	display: none;
	width: 50%;
  height: 30px;
  margin: 0.5em 25% 0 25%;	
}
#nextQ {
  display: ;
  width: 50%;
  margin: 0 25% 0 25%;
}
#incorrect {
  display: none;
}
.finished {
	margin-top: 40px;
	padding: 2%;
	background-color: #ff5;
	text-align: center;
}

